//line-heightの余白打消し 
@mixin lineHeightCrop($line-height) {
    &::before {
      display: block;
      width: 0;
      height: 0;
      margin-top: calc((1 - #{$line-height}) * .5em);
      content: "";
    }
    &::after {
      display: block;
      width: 0;
      height: 0;
      margin-bottom: calc((1 - #{$line-height}) * .5em);
      content: "";
    }
   }

@mixin hypatia-text($weight) {
    font-family: 'hypatia-text', sans-serif;
    font-weight: $weight;
    font-variant-ligatures: normal;
    font-variant-numeric: oldstyle-nums proportional-nums;
    font-feature-settings: 'ss01', 'ss04', 'ss05', 'ss06', 'ss07', 'ss11';
}

@mixin hypatia-heading($weight) {
  font-family: 'hypatia-heading', sans-serif;
  font-weight: $weight;
  font-variant-ligatures: normal;
  font-variant-numeric: lining-nums proportional-nums;
  font-feature-settings: 'ss01', 'ss02', 'ss07', 'ss11';
}

@mixin hypatia-marker($weight) {
  font-family: 'hypatia-marker', sans-serif;
  font-weight: $weight;
  font-variant-ligatures: normal;
  font-variant-numeric: lining-nums proportional-nums;
  font-feature-settings: 'ss01', 'ss02', 'ss07', 'ss11';
}
