// フォントサイズ設定
$font-size-text-eng: 18px !default;
$font-size-text-jpn: 16.2px !default;

// 行間設定
$ldng-txt-eng: 1.75 !default;
$ldng-txt-jpn: 2 !default;

//色設定
$clr-main: #333132;
$clr-bg: #fffef9;
$clr-accnt: #df7163;