@use 'hypatia-sans' as hs;
@use 'gaultier' as gl;

@include hs.FF-hypatia-BDL(900);
@include hs.FF-hypatia-BDL(700);
@include hs.FF-hypatia-BDL(600);
@include hs.FF-hypatia-BDL(400);

@mixin hypatia-BDL($weight) {
    font-family: 'hypatia-BDL', sans-serif;
    font-weight: $weight;
}

@include gl.FF-gaultier-BDL(900);
@include gl.FF-gaultier-BDL(800);
@include gl.FF-gaultier-BDL(700);
@include gl.FF-gaultier-BDL(600);
@include gl.FF-gaultier-BDL(500);
@include gl.FF-gaultier-BDL(400);
@include gl.FF-gaultier-BDL(300);

@mixin gaultier-BDL($weight) {
    font-family: 'gaultier-BDL', sans-serif;
    font-weight: $weight;
}

$ffs-text: 'ss01', 'ss04', 'ss05', 'ss06', 'ss07', 'ss11';
$ffs-hdng: 'ss01', 'ss02', 'ss07', 'ss11';
$ffs-itlc: 'ss01', 'ss02' 0, 'ss04' 0, 'ss05' 0, 'ss06' 0, 'ss07' 0, 'ss11', 'ss15'