$gaultier-1n: url("https://use.typekit.net/af/e5fd44/00000000000000007735c63c/30/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n1&v=3") format("woff2"),url("https://use.typekit.net/af/e5fd44/00000000000000007735c63c/30/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n1&v=3") format("woff"),url("https://use.typekit.net/af/e5fd44/00000000000000007735c63c/30/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n1&v=3") format("opentype");
$gaultier-1i: url("https://use.typekit.net/af/1820fc/00000000000000007735c644/30/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i1&v=3") format("woff2"),url("https://use.typekit.net/af/1820fc/00000000000000007735c644/30/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i1&v=3") format("woff"),url("https://use.typekit.net/af/1820fc/00000000000000007735c644/30/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i1&v=3") format("opentype");
$gaultier-2n: url("https://use.typekit.net/af/05c7e6/00000000000000007735c647/30/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n2&v=3") format("woff2"),url("https://use.typekit.net/af/05c7e6/00000000000000007735c647/30/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n2&v=3") format("woff"),url("https://use.typekit.net/af/05c7e6/00000000000000007735c647/30/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n2&v=3") format("opentype");
$gaultier-2i: url("https://use.typekit.net/af/5c1adb/00000000000000007735c64b/30/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i2&v=3") format("woff2"),url("https://use.typekit.net/af/5c1adb/00000000000000007735c64b/30/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i2&v=3") format("woff"),url("https://use.typekit.net/af/5c1adb/00000000000000007735c64b/30/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i2&v=3") format("opentype");
$gaultier-3n: url("https://use.typekit.net/af/e8b33e/00000000000000007735c64f/30/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n3&v=3") format("woff2"),url("https://use.typekit.net/af/e8b33e/00000000000000007735c64f/30/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n3&v=3") format("woff"),url("https://use.typekit.net/af/e8b33e/00000000000000007735c64f/30/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n3&v=3") format("opentype");
$gaultier-3i: url("https://use.typekit.net/af/f603ed/00000000000000007735c652/30/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i3&v=3") format("woff2"),url("https://use.typekit.net/af/f603ed/00000000000000007735c652/30/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i3&v=3") format("woff"),url("https://use.typekit.net/af/f603ed/00000000000000007735c652/30/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i3&v=3") format("opentype");
$gaultier-4n: url("https://use.typekit.net/af/eda481/00000000000000007735c63f/30/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("woff2"),url("https://use.typekit.net/af/eda481/00000000000000007735c63f/30/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("woff"),url("https://use.typekit.net/af/eda481/00000000000000007735c63f/30/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("opentype");
$gaultier-4i: url("https://use.typekit.net/af/c13e1b/00000000000000007735c642/30/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i4&v=3") format("woff2"),url("https://use.typekit.net/af/c13e1b/00000000000000007735c642/30/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i4&v=3") format("woff"),url("https://use.typekit.net/af/c13e1b/00000000000000007735c642/30/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i4&v=3") format("opentype");
$gaultier-5n: url("https://use.typekit.net/af/9982e7/00000000000000007735c645/30/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n5&v=3") format("woff2"),url("https://use.typekit.net/af/9982e7/00000000000000007735c645/30/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n5&v=3") format("woff"),url("https://use.typekit.net/af/9982e7/00000000000000007735c645/30/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n5&v=3") format("opentype");
$gaultier-5i: url("https://use.typekit.net/af/b9586e/00000000000000007735c64a/30/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i5&v=3") format("woff2"),url("https://use.typekit.net/af/b9586e/00000000000000007735c64a/30/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i5&v=3") format("woff"),url("https://use.typekit.net/af/b9586e/00000000000000007735c64a/30/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i5&v=3") format("opentype");
$gaultier-6n: url("https://use.typekit.net/af/f9f87d/00000000000000007735c64e/30/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n6&v=3") format("woff2"),url("https://use.typekit.net/af/f9f87d/00000000000000007735c64e/30/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n6&v=3") format("woff"),url("https://use.typekit.net/af/f9f87d/00000000000000007735c64e/30/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n6&v=3") format("opentype");
$gaultier-6i: url("https://use.typekit.net/af/995506/00000000000000007735c651/30/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i6&v=3") format("woff2"),url("https://use.typekit.net/af/995506/00000000000000007735c651/30/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i6&v=3") format("woff"),url("https://use.typekit.net/af/995506/00000000000000007735c651/30/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i6&v=3") format("opentype");
$gaultier-7n: url("https://use.typekit.net/af/b72137/00000000000000007735c653/30/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3") format("woff2"),url("https://use.typekit.net/af/b72137/00000000000000007735c653/30/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3") format("woff"),url("https://use.typekit.net/af/b72137/00000000000000007735c653/30/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3") format("opentype");
$gaultier-7i: url("https://use.typekit.net/af/43d0ee/00000000000000007735c655/30/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i7&v=3") format("woff2"),url("https://use.typekit.net/af/43d0ee/00000000000000007735c655/30/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i7&v=3") format("woff"),url("https://use.typekit.net/af/43d0ee/00000000000000007735c655/30/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i7&v=3") format("opentype");
$gaultier-8n: url("https://use.typekit.net/af/f8c823/00000000000000007735c657/30/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n8&v=3") format("woff2"),url("https://use.typekit.net/af/f8c823/00000000000000007735c657/30/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n8&v=3") format("woff"),url("https://use.typekit.net/af/f8c823/00000000000000007735c657/30/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n8&v=3") format("opentype");
$gaultier-8i: url("https://use.typekit.net/af/6f2df7/00000000000000007735c658/30/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i8&v=3") format("woff2"),url("https://use.typekit.net/af/6f2df7/00000000000000007735c658/30/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i8&v=3") format("woff"),url("https://use.typekit.net/af/6f2df7/00000000000000007735c658/30/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i8&v=3") format("opentype");
$gaultier-9n: url("https://use.typekit.net/af/6e9d31/00000000000000007735c659/30/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n9&v=3") format("woff2"),url("https://use.typekit.net/af/6e9d31/00000000000000007735c659/30/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n9&v=3") format("woff"),url("https://use.typekit.net/af/6e9d31/00000000000000007735c659/30/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n9&v=3") format("opentype");
$gaultier-9i: url("https://use.typekit.net/af/9e0654/00000000000000007735c65a/30/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i9&v=3") format("woff2"),url("https://use.typekit.net/af/9e0654/00000000000000007735c65a/30/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i9&v=3") format("woff"),url("https://use.typekit.net/af/9e0654/00000000000000007735c65a/30/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i9&v=3") format("opentype");


@mixin FF-gaultier-BDL($weight) {
    @font-face {
        font-family: 'gaultier-BDL';
        @if $weight == 900 {
            src: $gaultier-9n
        }
        @else if $weight == 800 {
            src: $gaultier-8n
        }
        @else if $weight == 700 {
            src: $gaultier-7n
        }
        @else if $weight == 600 {
            src: $gaultier-6n
        }
        @else if $weight == 500 {
            src: $gaultier-5n
        }
        @else if $weight == 400 {
            src: $gaultier-4n
        }
        @else if $weight == 300 {
            src: $gaultier-3n
        }
        font-display: auto;
        font-style: normal;
        font-weight: $weight;
        font-stretch: normal;
    }
    @font-face {
        font-family: 'gaultier-BDL';
        @if $weight == 900 or 800 {
            src: $gaultier-5n
        }
        @else if $weight == 700 or 600 {
            src: $gaultier-4n
        }
        @else if $weight == 500 or 400 or 300 {
            src: $gaultier-3n
        }
        font-display: auto;
        font-style: normal;
        font-weight: $weight;
        font-stretch: normal;
        unicode-range: u+2c-2e;
    }
    @font-face {
        font-family: 'gaultier-BDL';
        @if $weight == 900 or 800 {
            src: $gaultier-4n
        }
        @else if $weight == 700 or 600 or 500 or 400 or 300 {
            src: $gaultier-3n
        }
        font-display: auto;
        font-style: normal;
        font-weight: $weight;
        font-stretch: normal;
        unicode-range: u+28-29;
    }
    @font-face {
        font-family: 'gaultier-BDL';
        @if $weight == 900 {
            src: $gaultier-9i
        }
        @else if $weight == 800 {
            src: $gaultier-8i
        }
        @else if $weight == 700 {
            src: $gaultier-7i
        }
        @else if $weight == 600 {
            src: $gaultier-6i
        }
        @else if $weight == 500 {
            src: $gaultier-5i
        }
        @else if $weight == 400 {
            src: $gaultier-4i
        }
        @else if $weight == 300 {
            src: $gaultier-3i
        }
        font-display: auto;
        font-style: italic;
        font-weight: $weight;
        font-stretch: normal;
    }
    @font-face {
        font-family: 'gaultier-BDL';
        @if $weight == 900 or 800 {
            src: $gaultier-5i
        }
        @else if $weight == 700 or 600 {
            src: $gaultier-4i
        }
        @else if $weight == 500 or 400 or 300 {
            src: $gaultier-3i
        }
        font-display: auto;
        font-style: italic;
        font-weight: $weight;
        font-stretch: normal;
        unicode-range: u+2c-2e;
    }
    @font-face {
        font-family: 'gaultier-BDL';
        @if $weight == 900 or 800 {
            src: $gaultier-4i
        }
        @else if $weight == 700 or 600 or 500 or 400 or 300 {
            src: $gaultier-3i
        }
        font-display: auto;
        font-style: italic;
        font-weight: $weight;
        font-stretch: normal;
        unicode-range: u+28-29;
    }
}





// @mixin gaultier-text($weight) {
//     @font-face {
//         font-family: 'gaultier-text';
//         @if $weight == 400 {
//             src: $gaultier-4n
//         }
//         font-display: auto;
//         font-style: normal;
//         font-weight: $weight;
//         font-stretch: normal;
//     }
//     @font-face {
//         font-family: 'gaultier-text';
//         @if $weight == 400 {
//             src: $gaultier-4i
//         }
//         font-display: auto;
//         font-style: italic;
//         font-weight: $weight;
//         font-stretch: normal;      
//     }
// }

// @mixin gaultier-marker($weight) {
//     @font-face {
//         font-family:'gaultier-marker';
//         @if $weight == 900 {
//             src: $gaultier-9n
//         }
//         @else if $weight == 700 {
//             src: $gaultier-7n
//         }
//         font-display: auto;
//         font-style: normal;
//         font-weight: $weight;
//         font-stretch: normal;
//     }
//     @font-face {
//         font-family:'gaultier-marker';
//         src: $gaultier-4n;
//         font-display: auto;
//         font-style: normal;
//         font-weight: 400;
//         font-weight: $weight;
//         font-stretch: normal;
//         unicode-range: u+2c-2e;
//     }
//     @font-face {
//         font-family:'gaultier-marker';
//         src: $gaultier-3n;
//         font-display: auto;
//         font-style: normal;
//         font-weight: 300;
//         font-weight: $weight;
//         font-stretch: normal;
//         unicode-range: u+28-29;
//     }
// }

// @mixin gaultier-heading($weight) {
//     @font-face {
//         font-family:'gaultier-marker';
//         @if $weight == 900 {
//             src: $gaultier-4n
//         }
//         font-display: auto;
//         font-style: normal;
//         font-weight: $weight;
//         font-stretch: normal;
//     }
//     @font-face {
//         font-family:'gaultier-marker';
//         src: $gaultier-4n;
//         font-display: auto;
//         font-style: normal;
//         font-weight: 400;
//         font-weight: $weight;
//         font-stretch: normal;
//         unicode-range: u+2c-2e;
//     }
// }