$hypatia-9n: url("https://use.typekit.net/af/bfd88d/00000000000000003b9ada99/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n9&v=3") format("woff2"),url("https://use.typekit.net/af/bfd88d/00000000000000003b9ada99/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n9&v=3") format("woff"),url("https://use.typekit.net/af/bfd88d/00000000000000003b9ada99/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n9&v=3") format("opentype");
$hypatia-9i: url("https://use.typekit.net/af/042ffc/00000000000000003b9ada9a/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i9&v=3") format("woff2"),url("https://use.typekit.net/af/042ffc/00000000000000003b9ada9a/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i9&v=3") format("woff"),url("https://use.typekit.net/af/042ffc/00000000000000003b9ada9a/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i9&v=3") format("opentype");
$hypatia-7n: url("https://use.typekit.net/af/14e069/00000000000000003b9ada9b/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3") format("woff2"),url("https://use.typekit.net/af/14e069/00000000000000003b9ada9b/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3") format("woff"),url("https://use.typekit.net/af/14e069/00000000000000003b9ada9b/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3") format("opentype");
$hypatia-7i: url("https://use.typekit.net/af/197554/00000000000000003b9ada9c/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i7&v=3") format("woff2"),url("https://use.typekit.net/af/197554/00000000000000003b9ada9c/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i7&v=3") format("woff"),url("https://use.typekit.net/af/197554/00000000000000003b9ada9c/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i7&v=3") format("opentype");
$hypatia-6n: url("https://use.typekit.net/af/e1fc43/00000000000000003b9adaa3/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n6&v=3") format("woff2"),url("https://use.typekit.net/af/e1fc43/00000000000000003b9adaa3/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n6&v=3") format("woff"),url("https://use.typekit.net/af/e1fc43/00000000000000003b9adaa3/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n6&v=3") format("opentype");
$hypatia-6i: url("https://use.typekit.net/af/fc2289/00000000000000003b9adaa4/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i6&v=3") format("woff2"),url("https://use.typekit.net/af/fc2289/00000000000000003b9adaa4/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i6&v=3") format("woff"),url("https://use.typekit.net/af/fc2289/00000000000000003b9adaa4/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i6&v=3") format("opentype");
$hypatia-4n: url("https://use.typekit.net/af/f8d87f/00000000000000003b9adaa2/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("woff2"),url("https://use.typekit.net/af/f8d87f/00000000000000003b9adaa2/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("woff"),url("https://use.typekit.net/af/f8d87f/00000000000000003b9adaa2/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("opentype");
$hypatia-4i: url("https://use.typekit.net/af/a40319/00000000000000003b9ada9f/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i4&v=3") format("woff2"),url("https://use.typekit.net/af/a40319/00000000000000003b9ada9f/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i4&v=3") format("woff"),url("https://use.typekit.net/af/a40319/00000000000000003b9ada9f/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i4&v=3") format("opentype");
$hypatia-3n: url("https://use.typekit.net/af/393744/00000000000000003b9adaa0/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n3&v=3") format("woff2"),url("https://use.typekit.net/af/393744/00000000000000003b9adaa0/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n3&v=3") format("woff"),url("https://use.typekit.net/af/393744/00000000000000003b9adaa0/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n3&v=3") format("opentype");
$hypatia-3i: url("https://use.typekit.net/af/7232d9/00000000000000003b9adaa1/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i3&v=3") format("woff2"),url("https://use.typekit.net/af/7232d9/00000000000000003b9adaa1/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i3&v=3") format("woff"),url("https://use.typekit.net/af/7232d9/00000000000000003b9adaa1/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i3&v=3") format("opentype");
$hypatia-2n: url("https://use.typekit.net/af/5516de/00000000000000003b9ada9d/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n2&v=3") format("woff2"),url("https://use.typekit.net/af/5516de/00000000000000003b9ada9d/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n2&v=3") format("woff"),url("https://use.typekit.net/af/5516de/00000000000000003b9ada9d/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n2&v=3") format("opentype");
$hypatia-2i: url("https://use.typekit.net/af/483c6a/00000000000000003b9ada9e/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i2&v=3") format("woff2"),url("https://use.typekit.net/af/483c6a/00000000000000003b9ada9e/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i2&v=3") format("woff"),url("https://use.typekit.net/af/483c6a/00000000000000003b9ada9e/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i2&v=3") format("opentype");


@mixin FF-hypatia-BDL($weight) {
    @font-face {
        font-family: 'hypatia-BDL';
        @if $weight == 900 {
            src: $hypatia-9n
        }
        @else if $weight == 700 {
            src: $hypatia-7n
        }
        @else if $weight == 600 {
            src: $hypatia-6n
        }
        @else if $weight == 400 {
            src: $hypatia-4n
        }
        @else if $weight == 300 {
            src: $hypatia-3n
        }
        font-display: auto;
        font-style: normal;
        font-weight: $weight;
        font-stretch: normal;
    }
    @font-face {
        font-family: 'hypatia-BDL';
        @if $weight == 900 or 700 {
            src: $hypatia-4n
        }
        @else if $weight == 600 or 400 or 300 {
            src: $hypatia-3n
        }
        font-display: auto;
        font-style: normal;
        font-weight: $weight;
        font-stretch: normal;
        unicode-range: u+2c-2e;
    }
    @font-face {
        font-family: 'hypatia-BDL';
        @if $weight == 900 or 700 or 600 {
            src: $hypatia-3n
        }
        @else if $weight == 400 or 300 {
            src: $hypatia-3n
        }
        font-display: auto;
        font-style: normal;
        font-weight: $weight;
        font-stretch: normal;
        unicode-range: u+28-29;
    }
    @font-face {
        font-family: 'hypatia-BDL';
        @if $weight == 900 {
            src: $hypatia-9i
        }
        @else if $weight == 700 {
            src: $hypatia-7i
        }
        @else if $weight == 600 {
            src: $hypatia-6i
        }
        @else if $weight == 400 {
            src: $hypatia-4i
        }
        @else if $weight == 300 {
            src: $hypatia-3i
        }
        font-display: auto;
        font-style: italic;
        font-weight: $weight;
        font-stretch: normal;
    }
    @font-face {
        font-family: 'hypatia-BDL';
        @if $weight == 900 or 700 {
            src: $hypatia-4i
        }
        @else if $weight == 600 or 400 or 300 {
            src: $hypatia-3i
        }
        font-display: auto;
        font-style: italic;
        font-weight: $weight;
        font-stretch: normal;
        unicode-range: u+2c-2e;
    }
    @font-face {
        font-family: 'hypatia-BDL';
        @if $weight == 900 or 700 or 600 {
            src: $hypatia-3i
        }
        @else if $weight == 400 or 300 {
            src: $hypatia-3i
        }
        font-display: auto;
        font-style: italic;
        font-weight: $weight;
        font-stretch: normal;
        unicode-range: u+28-29;
    }
}





// @mixin hypatia-text($weight) {
//     @font-face {
//         font-family: 'hypatia-text';
//         @if $weight == 400 {
//             src: $hypatia-4n
//         }
//         font-display: auto;
//         font-style: normal;
//         font-weight: $weight;
//         font-stretch: normal;
//     }
//     @font-face {
//         font-family: 'hypatia-text';
//         @if $weight == 400 {
//             src: $hypatia-4i
//         }
//         font-display: auto;
//         font-style: italic;
//         font-weight: $weight;
//         font-stretch: normal;      
//     }
// }

// @mixin hypatia-marker($weight) {
//     @font-face {
//         font-family:'hypatia-marker';
//         @if $weight == 900 {
//             src: $hypatia-9n
//         }
//         @else if $weight == 700 {
//             src: $hypatia-7n
//         }
//         font-display: auto;
//         font-style: normal;
//         font-weight: $weight;
//         font-stretch: normal;
//     }
//     @font-face {
//         font-family:'hypatia-marker';
//         src: $hypatia-4n;
//         font-display: auto;
//         font-style: normal;
//         font-weight: 400;
//         font-weight: $weight;
//         font-stretch: normal;
//         unicode-range: u+2c-2e;
//     }
//     @font-face {
//         font-family:'hypatia-marker';
//         src: $hypatia-3n;
//         font-display: auto;
//         font-style: normal;
//         font-weight: 300;
//         font-weight: $weight;
//         font-stretch: normal;
//         unicode-range: u+28-29;
//     }
// }

// @mixin hypatia-heading($weight) {
//     @font-face {
//         font-family:'hypatia-marker';
//         @if $weight == 900 {
//             src: $hypatia-4n
//         }
//         font-display: auto;
//         font-style: normal;
//         font-weight: $weight;
//         font-stretch: normal;
//     }
//     @font-face {
//         font-family:'hypatia-marker';
//         src: $hypatia-4n;
//         font-display: auto;
//         font-style: normal;
//         font-weight: 400;
//         font-weight: $weight;
//         font-stretch: normal;
//         unicode-range: u+2c-2e;
//     }
// }