@use "../variables" as var;
@use "../font/index" as font;
@use '../mixins' as mxn;

.content-area {
    margin-top: 0;
    max-width: 9600px;
    width: 60%;
    %para {
        @include font.gaultier-BDL(400);
        line-height: var.$ldng-txt-eng;
        @include mxn.lineHeightCrop(var.$ldng-txt-eng);
        font-variant-ligatures: normal;
        margin-top: 1.2rem;
    }

    .para {
        @extend %para;
        &:first-child {
        margin-top: 3.6rem; 
        }
    }

    .epipara {
        @extend .para;
        margin-top: 2.4rem
    }

    li {
        @extend %para;
        &::marker {
            @include font.gaultier-BDL(700);
            font-variant-ligatures: normal;
            font-variant-numeric: lining-nums proportional-nums;
        }
        &:empty {
            margin-bottom: -2.9rem
        }
    }

    .para-ol {
        list-style-position: inside;
        &::before {
            display: block;
            width: 0;
            height: 0;
            margin-top: calc((1 - #{var.$ldng-txt-eng}) * .5em);
            content: "";
          }
        .para-li {
            &::before {
                display: none;
            }
        }
    }

    ol[class^="subpara"] {
        list-style-position: outside;
        li[class^="subpara"] {
            padding-left: .5em;
        }
    }

    .subpara-ol-00 {
        padding-left: 3em;
    }

    .subpara-ol-01 {
        padding-left: 5em;
    }

    .subpara-ol-02 {
        padding-left: 7em;
    }

    %heading {
        @include font.gaultier-BDL(900);
        line-height: 1;
        @include mxn.lineHeightCrop(1);
        font-variant-ligatures: normal;
        font-variant-numeric: lining-nums proportional-nums;
        position: relative;
    }

    h2 {
        font-size: 2rem;
        @extend %heading;
        text-transform: uppercase;
        margin-top: 3.6rem;
        .h2-title {
            @include font.gaultier-BDL(400);
            font-size: .75em;
            font-style: italic;
            text-transform: none;
            font-variant-caps: small-caps;
            letter-spacing: .025em
        }
        + h2 {
            margin-top: 2.4rem;
        }
    }

    h3 {
        font-size: 1.5rem;
        @extend %heading;
        margin-top: 2.4rem;
        .h3-title {
            @include font.gaultier-BDL(400);
            font-size: .75em;
            font-style: italic;
            letter-spacing: .05em;
        }
    }
}

.smcp {
    font-variant-caps: small-caps;
    font-variant-numeric: lining-nums;
}

.c2sc {
    font-variant-caps: all-small-caps;
    font-variant-numeric: lining-nums;
}

// .ordn {
//     font-variant-numeric: ordinal lining-nums;
//     // font-feature-settings: "sups";
// }