@use '../variables' as var;
@use '../font/index' as font;

#index {
    font-size: 24px;
}

.code-Menu {
    width: 80%;
    height: fit-content;
    margin: auto;
    padding-top: 120px;
}

.card {
    width: 100%;
    height: fit-content;
    padding: .5em .25em;
    @include font.gaultier-BDL(900);
    font-variant-numeric: lining-nums proportional-nums;
    font-variant-ligatures: normal;
    line-height: 1em;
    hyphens: auto;
    .wrap {
        display: flex;
        justify-content:space-between;
        align-items: center;
    }
}

.card-title {
    width: calc((100% - 1rem) * .6);
    height: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    &::after {
        position: absolute; /*--positionを追加--*/
        top: 20%;
        left: 100%;
        margin: 0 .5rem;
        content: "";
        width: .75px; /*--縦線の太さ(幅)--*/
        height: 60%;
        background-color: var.$clr-main; /*--縦線の色--*/
    }
    a {
        text-decoration: none;
        h1 {
            width: 100%;
            font-size: 5em;
            font-weight: 900;
            line-height: .9em;
            margin-top: .75rem;
            color: transparent;
            -webkit-text-stroke: .75px var.$clr-main;
            transition: all .3s linear;
            &:hover {
                color: var.$clr-main;
                -webkit-text-stroke: .5px var.$clr-main;
                transform-origin: bottom left;
            }
        }
    }
}


.card-title p {
    width: 100%;
    font-size: .75em;
    font-weight: 300;
    font-style: italic;
    line-height: 1em;
    letter-spacing: .02em;
    margin: -1rem 0 .75em 0;
    // background-color: rgba(var.$clr-bg, .6);
    text-shadow: 0 0 1.8px rgba(var.$clr-bg, 1);
}

.card-ovv {
    width: calc((100% - 1rem) *.4);
    height: fit-content;
    margin-top: -.25em;
    position: relative;
    .ovv {
        display: flex;
        flex-direction: column-reverse;
        align-items: flex-end;
        margin: .75rem 0;
        h2 {
            width: 6.5em;
            margin: 0 0 0 1em;
            text-align: right;
            font-size: .75em;
            font-weight: 700;
            line-height: 1em;
        }
        p {
            margin: 0;
            text-align: right;
            font-size: 1em;
            font-weight: 300;
            letter-spacing: .02em;
            line-height: 1em;
        }
    }
}